# Created by .ignore support plugin (hsz.mobi)
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/
cmake-build-debug/
examples/hello_world.pyc
examples/subclass.pyc
tests/build/
tests/gtest/build/CMakeFiles/CMakeTmp/
tests/scripts/hello_world.pyc
